<div class="profile-wrapper">
  <div class="row profile-header">
    <div class="col-md-4">
      <div class="img-circle profile-image">
        <%= profile_avatar_select(@user) %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-name-and-follow">
        <h3 class="profile-user-name"><%= @user.username %></h3>
        <span>
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', edit_profile_path(@user.username), class: 'btn btn-info edit-button' %>
          <% end %>
        </span>
      </div>
      <p class="profile-bio"><%= @user.bio %></p>
      <div class="user-statistics">
        <p><%= pluralize @user.posts.count, 'post' %></p>
      </div>
    </div>
  </div>
</div>

<div class="row profile-wrapper">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <%= link_to post_path(post) do %>
        <%= image_tag post.image, class: 'img-responsive post-pics' %>
      <% end %>
    </div>
  <% end %>
</div>
