<!DOCTYPE html>
<html>
<head>
  <title>Show Me Your Pics!</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<!-- links to open modal need - remote: true, data: {toggle: 'modal', target: '#myModal'} -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"></h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<div id="myModal2" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"></h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------>

<div class="container">
  <% flash.each do |type, content| %>
    <% if content.respond_to?('each')
        content.each do |item| %>
            <%= render 'layouts/alert', type: type, content: item %>
        <% end %>
    <% else %>
        <%= render 'layouts/alert', type: type, content: content %>
    <% end %>
  <% end %>



  <%= yield %>
</div>


</body>
</html>
